/* Tout le texte est justifié ... */
body {
    text-align: justify;
}
  
/* ... sauf les liens à gauche de la page. */
.md-nav__item {
    text-align: left;
}

/* Pour imiter un bouton. */
bouton {
    background-color: #d9dbda;
    border: 1px solid;
    border-color: grey;
    color: black;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    margin: 4px 2px;
    cursor: pointer;
}
  

.md-typeset :is(.admonition, details) {
    font-size: 0.8rem;
}

:root {
    --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
}

.md-typeset .admonition.exercice, .md-typeset details.exercice {
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title, .md-typeset .exercice > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title::before, .md-typeset .exercice > summary::before {
    background-color: rgb(43, 155, 70);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--exercice);
            mask-image: var(--md-admonition-icon--exercice);
}

/* Pour avoir une "jolie" arborescence de fichiers. */
.arborescence {
    font-family: monospace;
    font-size: 1em;
    line-height: 1.1;
    -webkit-text-size-adjust: none;
}
  
red {
    color:red;
}
  